body {
  margin-bottom: 0%;

}

div {
  width: 100%;
  /* margin-left: 10px;
  margin-right: 10px; */
}


.picture{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picture img {
  width: 60%;
}

h4 !important {
  font-style: normal;
}

h1,h2,h3,h4,h5,h6{
	font-family: "museo-slab", sans-serif;
}

.main_container {
  margin-top: 5%;
}

a {
  color: black;

}

p {
  font-family: "museo-slab", sans-serif

}


a:hover{
  color: orange;
}


footer {
  margin-top: 10%;
  margin-bottom: 2%;
  position: absolute;
  width: 100%;
  background-color: orange;
}

footer a:hover {
  color: white;
}

/* .gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
} */






.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.col {
   flex: 0 0 calc(33% - 30px);   /* flex-basis adjustment for margin */
   margin: 10px;
}



.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
